@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400;600&family=Squada+One&display=swap');



body {
    color: #240046;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #e8e3ff;
}

header {
    width: 100%;
    height: 82px;
    left: 0px;
    top: 0px;
}

nav {
    margin-left: 20px;
    overflow: auto;
}

h1 {
    font-size: 18px;
    margin-top: 50px;
    float: left;
}

nav img {
    position: static;
    width: 25px;
    height: 25px;
    margin-top: 50px;
    margin-right: 20px;

    float: right;
}

a {
    text-decoration: none;
}

/* papan iklan*/
.papaniklan {
    display: block;
    width: 90%;
    height: 140px;
    margin-top: 10px;
    margin-left: 20px;

    background: url(../assets/Frame\ 42.svg) #3c096c;
    box-shadow: 5px 10px 14px rgba(90, 24, 154, 0.1);
    border-radius: 14px;
}

a.dua {
    width: 100%;
    margin-left: 0;

    border-radius: 0;
    box-shadow: 0px 4px 14px rgba(90, 24, 154, 0.1);
}

/* pembungkus card habib*/
.container {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 25px;

    width: 90%;
}

.habib {
    position: static;
    width: 66px;
    height: 100px;
    margin: 6px;


    box-shadow: 5px 10px 14px rgba(0, 0, 0, 0.1);
    border-radius: 14px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 6px;
}


/*frame icon habib*/
.habib .frame {
    position: static;
    width: 44px;
    height: 44px;
    background: #bbadff;
    border-radius: 10px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: -5px 10px 2px 10px;
}


/* icon habib*/
.habib .frame img {
    position: static;
    width: 32px;
    height: 32px;
    margin-top: 6px;

    border-radius: 20px;
}

.habib a {
    color: #240046;
    font-weight: 700;
    display: block;
    position: static;
    width: 32px;
    height: 12px;

    font-style: normal;
    font-size: 10px;
    line-height: 12px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.container span {
    font-weight: normal;
    font-size: 8px;
    margin: -10px;
}

/* Dashboard*/
h2 {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e8e3ff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 32px;
    margin-left: 20px;

    position: sticky;
    top: 0;
}

/* sektor pembungkus list*/
section {
    margin-top: 30px;
    padding-bottom: 20px;
}

/* bungkus paling luar setelah section*/
.bungkus {

    width: 100%;
    height: 400px;
    overflow: scroll;
}

/* card list*/
.card {
    color: #240046;
    width: 83%;
    height: 50px;
    border: none;
    padding: 12px;
    text-align: left;
    margin-bottom: 14px;
    margin-left: 20px;

    display: block;
    box-shadow: 5px 10px 14px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
}

/*card product*/
a.card2 {
    color: #240046;
    display: block;
    width: 140px;
    height: 200px;
    padding-left: 16px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.card-kitab {
    width: 80%;
    margin: auto;
    padding: 20px;

    box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    overflow: auto;
}


.card2 img {
    width: 123px;
    height: 123px;
    margin-top: 16px;
}

.card2 h3 {
    font-size: 10px;

    margin-top: 8px;
    margin-bottom: -10px;
}

.card2 p {
    font-size: 8px;
}

.card2 hr {
    color: red;
    margin-top: 5px;
    margin-right: 70px;
    width: 20%;

    float: left;
}

a .frame2 {
    background-color: #bbadff;
    width: 48px;
    height: 48px;
    margin-right: 12px;


    float: left;
    border-radius: 14px;
}

a .merah {
    background-color: rgb(253, 197, 197);
}

a .biru {
    background-color: #9e9cbe;
}

a .hijau {
    background-color: rgb(168, 214, 168);
}

a .kuning {
    background-color: rgb(219, 219, 166);
}

.frame2 img {
    width: 36px;
    height: 36px;
    margin: 6px;
}

h3 {
    margin-top: 0px;
    font-size: 14px;
}

a p {
    font-size: 10px;
}

.card-kitab p {
    font-weight: 400;
    text-align: right;
    margin-bottom: 50px;
}

.card-kitab p span {
    color: #232323;
    font-size: 14px;

}

@media screen and (min-width:414px) {

    .card-kitab p {
        font-size: 20px;

    }

    .habib {
        margin: 12px;
    }

    .bungkus {
        height: 550px;
    }


}